[user]
	email = gabrieljoel@gmail.com
	name = Gabriel J. Pérez Irizarry
[push]
	default = simple
# http://stackoverflow.com/questions/10355902/use-emacsclient-t-when-committing-in-git 
[core]
	editor = emacsclient -t -a=\\\"\\\"
[diff]
	external = ~/.diff.py